@font-face {
    font-family: gilroy;
    src: url("/Gilroy-Light.ttf");
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    font-family: gilroy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(219, 230, 234);
}
.panel{
    width: 90%;
    height: 90%;
    background-color: lightgreen;
}
.panel .top{
    padding: 0 25vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: white;
}
.top .elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.elem .box{
    
    padding: 10px 20px;
    background-color: rgb(98, 237, 98);
}
.panel .btm{
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    height: 90%;
    background-color: rgb(156, 219, 167);
}
.btm .b-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: green;
    border-radius: 50%;
}